a {
  color: #000;
  display: block;
  width: 50%;
  height: inherit;
  text-align: left;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: #000;
}

body {
  background: #fff;
  font-family: monospace, monospace;
  margin: 0;
  padding: 0;
  
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

img {
  border: none;
  width: 100%;
  pointer-events: none;
}

table {
  width: 100%;
  border-radius: 10px 0 0 10px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  table-layout: fixed;
}

th,
td,
tr {
  border-right: 1px solid #bbb;
  max-width: 0;
  overflow: hidden;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px;
}

td {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #bbb;
}

th {
  text-align: right;
  border-bottom: 2px solid #bbb;
}

th:hover {
  background: #eef;
}

.search-wrapper {
  /* background: #0ff; */
  width: 61.8%;
  margin-left: 19.1%;
  display: inline-flex;
  padding:43px;
  
}

.search-bar {
  float: left;
  width: 100%;
  border-radius: 10px 0 0 10px;
  border-top: 2px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 0 solid #bbb;
  color: #000;
  outline: none;
}

.search-button {
  background: transparent;
  border-radius: 0 10px 10px 0;
  border-bottom: 2px solid #bbb;
  border-right: 1px solid #bbb;
  height: 42px;
  text-align: center;
  
  color: #000;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background: #fee;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 128px repeat(6, 1fr) 128px;
  grid-template-rows: 128px repeat(7, 1fr);
  
  grid-gap: 10px;

}

.logo {
  /* background: #0f0; */
  grid-column: span 1fr;
  grid-row: span 1fr;
}

.header {
  /* background: red; */
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;

}

.left {
  /* background: #00f; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 8;
}

.right {
  /* background:#ff0; */
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 8;
  
} 

.viewer-hidden {
  background: #fff;
  border-bottom: 2px solid #bbb;
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #bbb;
  overflow: hidden;
  position: fixed;
  transform: translate(-100%, 0);
  transition: 0.618s ease;
  top:260px;
  width: 61.8%;
  z-index: 2;
  padding: 10px;
}

.viewer-shown {
  background: #fff;
  border-bottom: 2px solid #bbb;
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #bbb;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  transform: translate(0, 0%);
  transition: 0.618s ease;
  top:260px;
  width: 61.8%;
  z-index: 2;
  padding: 10px;
}

.clicky-wrapper {
  display: inline-flex;
  cursor: pointer;
  transition: 0.382s ease;
  border-radius: 0 10px 10px 0;
  border-bottom: 2px solid #bbb;
  border-right: 1px solid #bbb;
  width: 100%;
  transform: translate(-61.8%, 0);
}

.clicky-wrapper:hover {
  background: #fee;
  transform: translate(-0%, 0);
}

.clicky-text {
  width: 50%;
  text-align: left;
  padding: 5px;
}

.clicky-icon {
  width: 50%;
  text-align: right;
  margin: auto;
  padding: 5px;
}

td:hover,
.search-bar:hover,
.viewer-shown:hover {
  background: #efe;
}
